<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *appspinner="(spinner | async)" class="col-md-12">
        <div class="col-md-12">
          <div class="card">
            <form [formGroup]="sopiForm" (submit)="onSubmit()">
              <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">add</i>
              </div>
              <div class="card-content">
                <h4 class="card-title">Add New Sopi</h4>
                <app-obqa-input-basic
                  length="6"
                  formControlName="code"
                  [c]="sopiForm.controls.code"
                  [optional]="true"
                  idd="code"
                  placeholder=""
                  type="text"
                  text="SOPI Code:"
                ></app-obqa-input-basic>
                <app-obqa-input-basic
                  length="6"
                  formControlName="so"
                  [c]="sopiForm.controls.so"
                  [optional]="true"
                  idd="name"
                  placeholder=""
                  type="text"
                  text="SO Code:"
                ></app-obqa-input-basic>
                <app-obqa-input-basic
                  length="12"
                  formControlName="description"
                  [c]="sopiForm.controls.description"
                  [optional]="true"
                  idd="3"
                  placeholder=""
                  type="text"
                  text="Description:"
                ></app-obqa-input-basic>
              </div>
              <div class="footer text-center">
                <button type="submit" [ngClass]="{
                  'btn-success': sopiForm.valid,
                  'btn-disabled': !sopiForm.valid,
                  'btn btn-wd btn-lg': true
                }" [disabled]="!sopiForm.valid">Submit</button>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">folder</i>
              </div>
              <div class="card-content">
                <h4 class="card-title">Upload .xls File</h4>
                <!-- <app-obqa-upload-basic fileAlias="sopi" [URL]="uploadUrl"></app-obqa-upload-basic> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>